.checkout-container {
  display: flex;
  justify-content: center;
}
.checkout {
  width: 300px;
}
.checkout button {
  width: 200px;
  height: 44px;
  background: #f56b2a;
  border-radius: 5px;
  margin-top: 36px;
}
.checkout button p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
