footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background: #474747;
  padding: 20px 0;
}
.footer span {
  color: #fafafa;
}
.footer a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: #fafafa;
}
