header {
  display: flex;
  align-items: flex-start;
  height: 60px;
  width: 1240px;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.logo {
  margin: 15px 44px 15px 231px;
  top: 10%;
}
.create-offer {
  background-color: #f56b2a;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  width: 204px;
  height: 39px;
  margin: 11px 31px 10px 44px;
}

.search {
  display: flex;
  border-bottom: #f56b2a;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 20px 298px 19px 15px;
  width: 91px;
}
.search > .icon-search {
  font-size: 25px;
  margin-right: 20px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9px 0px 17px 0px;
  color: #000a11;
}
.deconnect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}
span {
  color: #000a11;
  font-weight: normal;
  font-size: 15px;
}
