.all-offers {
  margin-top: 100px;
}
.container-offers {
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  width: 1000px;
  height: 180px;
  margin-bottom: 20px;
}
.container-picture-offers {
  display: flex;
  width: 240px;
  height: 180px;
  background: #cad1d9;
  border-radius: 5px 0px 0px 5px;
}
.pictures-offers {
  width: 240px;
  height: 180px;
  object-fit: cover;
}
.container-description-offers {
  margin-left: 30px;
}
.offer-title {
  font-size: 22px;
  color: #000000;
  margin-top: 15px;
}
.offer-price {
  margin-top: 7px;
  font-size: 20px;
  color: #f56b2a;
}
.offer-date {
  display: flex;
  align-items: flex-end;
  width: 142px;
  height: 66px;
  font-size: 16px;
  color: #000000;
}
@media (max-width: 1024px) {
  .container-offers {
    width: 800px;
  }
}
@media (max-width: 992px) {
  .container-offers {
    width: 700px;
  }
  .offer-title,
  .offer-price,
  .offer-date {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container-offers {
    width: 100%;
  }
  .offer-title,
  .offer-price,
  .offer-date {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .container-offers {
    height: 120px;
  }
  .offer-title,
  .offer-price,
  .offer-date {
    font-size: 12px;
  }
  .offer-date {
    margin: none;
  }
  .container-picture-offers,
  .pictures-offers {
    height: 120px;
  }
}
@media (max-width: 320px) {
  .container-offers {
    height: 100px;
  }
  .offer-title,
  .offer-price,
  .offer-date {
    font-size: 10px;
  }
  .offer-date {
    margin: none;
  }
  .container-picture-offers,
  .pictures-offers {
    height: 100px;
  }
}
