.pagination-offers {
  text-align: center;
  margin-bottom: 20px;
}
.pagination-offers button {
  width: 200px;
  background-color: #f56b2a;
  margin-right: 5px;
  border-radius: 5px;
}
.pagination-offers p {
  font-weight: bold;
  color: #ffffff;
}
