.offer-publish-container {
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-publish {
  width: 1000px;
  height: 714px;
  background: #ffffff;
}
.title-publish {
  display: flex;
  justify-content: center;
  margin: 33px 0px 21px 0px;
}
.input-title-publish {
  width: 350px;
  height: 44px;
}
.input-text-publish {
  width: 350px;
  height: 139px;
}
.input-price-publish {
  width: 165px;
  height: 44px;
}
.input-title-publish,
.input-text-publish,
.input-price-publish {
  background: #ffffff;
  border: 1px solid #d9e0eb;
  box-sizing: border-box;
  border-radius: 5px;
}
.form-publish-offer {
  background-color: violet;
  text-align: center;
}
button {
  margin-top: 36px;
}
