.search-container {
  width: 1440px;
  display: flex;
}
.ellipsis-container {
  width: 1440px;
  height: 100px;
  background: #f56b2a;
  border-radius: 0% 0% 70% 70%;
}
.container-form {
  display: flex;
  justify-content: center;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 810px;
  height: 130px;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 40px;
}
.search-input {
  width: 320px;
  height: 44px;
}
.button-search {
  width: 220px;
  height: 44px;
  background: #4183d7;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-left: 21px;
}
.form-search-icon {
  background: #dadada;
  left: 12px;
  top: 13px;
}
