.container-ellipsis {
  width: 100%;
  height: 100px;
  background: #f56b2a;
  border-radius: 0% 0% 70% 70%;
}
.container-form {
  display: flex;
  justify-content: center;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 810px;
  height: 130px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 40px;
  background: #ffffff;
}
.search-input {
  width: 320px;
  height: 44px;
  border-radius: 4px;
  background-color: #f8f8f8;
  border-radius: 5px;
  border: none;
}
.button-search {
  width: 220px;
  height: 44px;
  outline: none;
  background: #4183d7;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  margin-left: 21px;
}
.form-search-icon {
  background: #dadada;
}
@media (max-width: 1024px) {
  .ellipsis-container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .container-form {
    background: #ffffff;
  }
  .search-form {
    width: 100%;
    background: #f56b2a;
    border-radius: 20px;
  }
  .search-input {
    width: 200px;
  }
  .button-search {
    width: 200px;
  }
}
@media (max-width: 320px) {
  .search-form {
    width: 100%;
    background: #f56b2a;
    border-radius: 20px;
  }
  .search-input {
    width: 100%;
  }
  .button-search {
    width: 100%;
  }
}
