.main-container-signup {
  display: flex;
  justify-content: center;
  height: 670px;
}
.container-signup {
  display: flex;
  width: 1000px;
  height: 576px;
  margin-top: 57px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.container-why-create-account,
.container-form-signup {
  width: 50%;
}
.title-create-account {
  font-weight: bold;
  font-size: 19px;
  margin: 30px 0px 0px 55px;
}
.text-block {
  display: flex;
}
.icon {
  margin: 52px 33px 0px 62px;
  color: #4183d7;
}
.text-reason {
  width: 363px;
  margin: 40px 125px 0px 0px;
}
.create-account-signup {
  display: flex;
  justify-content: center;
  margin: 30px 0px 21px 0px;
  font-weight: bold;
  font-size: 19px;
}
.input-create-account {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.input-signup {
  width: 350px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #d9e0eb;
  box-sizing: border-box;
  border-radius: 5px;
  align-self: center;
}
.checkbox-input {
  display: flex;
  width: 351px;
  align-items: baseline;
  margin-left: 80px;
}
.button-create-account {
  width: 350px;
  height: 44px;
  background: #4183d7;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  margin-left: 80px;
}
p span {
  color: #4183d7;
}
