/* Common */
body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  color: #000a12;
  width: 1240px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
h2 {
  font-weight: bold;
  font-size: 19px;
  color: #000000;
}
h3 {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}
h4 {
  font-weight: bold;
  font-size: 13px;
  color: #000000;
}
p {
  font-size: 12px;
}
hr {
  border: 3px solid #f56b2a;
  width: 350px;
}
span {
  font-weight: bold;
  font-size: 12px;
}
.container {
  width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;
}
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="file"] {
  cursor: pointer;
}
.form-publish-offer form input[type="button"],
[type="submit"] {
  width: 350px;
  height: 44px;
  background: #4183d7;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

/* Media Queries */
/* Desktop -> Mobile */
@media (max-width: 1240px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

/* Mobile -> Desktop */

@media (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
}
